<div id="editCardForm" title="editForm">
    <form id="editCardFormForm">
        <div>
            <label for="editTitle" class="label">Title: </label>
            <input type="text" class="title" id="editTitle" value="Title Me This"><br>
        </div>
        <div>
            <label for="editContent" class="label">Content: </label>
            <input type="textarea" class="content" id="editContent" value="Hello, world!"><br>
        </div>
        <div class="buttonRowRight">
            <button type="button" class="button" id="okButton">OK</button>
            <button type="button" class="button" id="cancelButton">Cancel</button>
        </div>
    </form>
</div>
