/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html * {
    font-size: 100%;
}
body {
    margin: 0px;
}
#banner {
    height: 50px;
    width: 100%;
    x-index: 0;
    background-color: #ddddff;
}
#projectView {
    position: relative;
    z-index: 0;
    height: 800px;
    width: 75%;
    float: left;
    opacity: 0.5;
}
#projectBoard {
    position: absolute;
    z-index: -1;
    height: 800px;
    width: 75%;
    float: left;
    background-color: #ffddff;
}
#palette {
    height: 800px;
    width: 25%;
    z-index: 0;
    float: right;
    background-color: #dddddd;
}
.hidden {
    display: none !important;
}
.card {
    position: absolute;
    height: 6em;
    width: 10em;
    border: black 1px solid;
}
.yellowCard {
    background-color: yellow;
    border: black 1px solid;
    opacity: 1;
}

.purpleCard {
    background-color: #de4ee3;
    border: black 1px solid;
    opacity: 1;
}

.greenCard {
    background-color: #27f267;
    border: black 1px solid;
    opacity: 1;
}
#editCardForm {
    position: relative;
    width: 10em;
    border: black 5px solid;
}
.buttonRowRight {
    float: right;
    display: inline-block;
}

.blankCard {
    position: absolute;
    opacity: 0.1;
    top: 0px;
    left: 0px;
}
.cardStack {
    position: relative;
    margin: 10px;
    height: 6em;
    width: 10em;
    border: black 3px solid;
}
.title {
    width: 100%;
    font-weight: bold;
	text-align: left;
}
.content {
    width: 10em;
    height: 5em;
}

